venv
datamad-venv
db.sqlite3
db.sqlite3-journal
*.pyc
.idea
__pychache_
.DS_Store
settings_local.py
grant_refs.txt
media
static_media
.bundle
.jekyll-cache
_site
vendor
/static
/staticfiles
# scripts
.vscode
Databank.conf
sql_alchemy_mysql_conn_string.txt
odbc_conn_scratch.py
/local_temp
/import_csvs
.pgpass
Dockerfile_deploy_local
requirements.txt
temp.csv
temp_new.csv
*.csv
*.sqlite3
Dockerfile_debug_new
MACC_only.xlsx
