annotated-types==0.7.0 ; python_full_version >= "3.11.6" and python_version < "4.0"
asgiref==3.8.1 ; python_full_version >= "3.11.6" and python_version < "4.0"
babel==2.16.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
backports-tarfile==1.2.0 ; python_full_version >= "3.11.6" and python_version < "3.12"
brotli==1.1.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
ceda-elasticsearch-tools @ git+https://github.com/cedadev/ceda-elasticsearch-tools.git@d365338d7243d1bff2a1266c2129ce72a79b2af1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
certifi==2024.8.30 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
cffi==1.17.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0" and platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
charset-normalizer==3.4.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0" and platform_system == "Windows"
crispy-bootstrap4==2024.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
cryptography==44.0.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
defusedxml==0.7.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-bootstrap-datepicker-plus==5.0.5 ; python_full_version >= "3.11.6" and python_version < "4.0"
django-classy-tags==4.1.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-cookie-law==2.2.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-crispy-forms==2.3 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-dprog-jfu==3.0.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-haystack-elasticsearch @ git+https://github.com/Mahir-Sparkess/django-haystack-elasticsearch.git@dd47f0e9c492908d4cc090ad4377fe7fc5e5efb8 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-haystack==3.3.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-jira-oauth @ git+https://github.com/rsmith013/django-jira-oauth.git@13c776653c48058a69a110cbd9c8c139a672594f ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-model-utils==5.0.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-sizefield==2.1.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-tables2==2.7.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-unused-media==0.2.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django-upgrade==1.21.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
django==4.2 ; python_full_version >= "3.11.6" and python_version < "4.0"
djangorestframework==3.15.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
docopt==0.6.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
docxcompose==1.4.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
docxtpl==0.18.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
elastic-transport==7.16.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
elasticsearch==7.6.0 ; python_full_version >= "3.11.6" and python_version < "4"
fwtheme-django @ git+https://github.com/cedadev/fwtheme-django.git@786021bdb6f34cf693d44e96803a5df7d88b76fd ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
fwtheme-django-ceda-serv @ git+https://github.com/cedadev/fwtheme-django-ceda-serv.git@4653d071d5a53e1ab0953b2a83cb1265cc05ab91 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
idna==3.10 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
importlib-metadata==8.5.0 ; python_full_version >= "3.11.6" and python_version < "3.12"
jaraco-classes==3.4.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
jaraco-context==6.0.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
jaraco-functools==4.1.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
jeepney==0.8.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0" and sys_platform == "linux"
jinja2==3.1.4 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
jira==3.8.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
keyring==25.4.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
lxml==5.3.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
markupsafe==3.0.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
more-itertools==10.5.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
mysqlclient==2.2.6 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
node==1.2.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
numpy==2.1.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
oauthlib==3.2.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
odict==1.9.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
orgtheme-datamad @ git+https://github.com/cedadev/orgtheme-datamad.git@015dc5767f75b068a8883bf7380056e863be19a2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
packaging==24.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
pandas==2.2.3 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
pillow==11.0.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
plumber==1.7 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
psycopg2-binary==2.9.9 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
pycparser==2.22 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0" and platform_python_implementation != "PyPy"
pydantic-core==2.23.4 ; python_full_version >= "3.11.6" and python_version < "4.0"
pydantic==2.9.2 ; python_full_version >= "3.11.6" and python_version < "4.0"
pyjwt==2.9.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
pytest-runner==6.0.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
python-docx==1.1.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
pytz==2024.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
pywin32-ctypes==0.2.3 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
requests-oauthlib==2.0.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
requests-toolbelt==1.0.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
requests==2.32.3 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
secretstorage==3.3.3 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0" and sys_platform == "linux"
setuptools==75.1.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
sqlparse==0.5.1 ; python_full_version >= "3.11.6" and python_version < "4.0"
tokenize-rt==6.1.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
tqdm==4.67.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
typing-extensions==4.12.2 ; python_full_version >= "3.11.6" and python_version < "4.0"
tzdata==2024.2 ; python_full_version >= "3.11.6" and python_version < "4.0"
urllib3==1.26.20 ; python_full_version >= "3.11.6" and python_version < "4"
whitenoise==6.7.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zipp==3.21.0 ; python_full_version >= "3.11.6" and python_version < "3.12"
zope-component==6.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zope-deferredimport==5.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zope-deprecation==5.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zope-event==5.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zope-hookable==7.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zope-interface==7.2 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zope-lifecycleevent==5.0 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
zope-proxy==6.1 ; python_full_version >= "3.11.6" and python_full_version < "4.0.0"
